.shiny-tool-request {
    margin: 0;
    border-radius: var(--bs-border-radius);
    overflow: hidden;
    padding: 0.5em;
    font-size: 0.8em;
    color: var(--bs-secondary);
    font-weight: 400;
    display: block;
    align-items: center;
    user-select: none;
}

.shiny-tool-request::before {
    content: "\2B05";
    color: var(--bs-primary);
    display: inline-block;
    margin-right: 0.5em;
    font-size: 1em;
    transform-origin: center;
    transform: rotateY(180deg);
}

.shiny-tool-request:not(:first-child), 
.shiny-tool-result:not(:first-child) {
    margin-top: 1em;
}

.shiny-tool-request:first-child + .shiny-tool-result {
    margin-top: 0;
}

.shiny-tool-request:not(:last-child),
.shiny-tool-result:not(:last-child) {
    margin-bottom: 1em;
}

.shiny-tool-result + .shiny-tool-result,
.shiny-tool-request + .shiny-tool-request,
.shiny-tool-request + .shiny-tool-result,
.shiny-tool-result + .shiny-tool-request {
    margin-top: -1rem;
}

.shiny-tool-result {
    margin: 0;
    border-radius: var(--bs-border-radius);
    overflow: hidden;
    padding: 0.5em;
    font-size: 0.8em;
}

.shiny-tool-result summary {
    padding: 1em;
    margin: -0.5em;
    margin-left: -1em;
    margin-top: -1em;
    color: var(--bs-secondary);
    font-weight: 400;
    cursor: pointer;
    display: block;
    align-items: center;
    user-select: none;
}

.shiny-tool-result summary::before {
    content: "\2714";
    color: var(--bs-success);
    display: inline-block;
    margin-right: 0.5em;
    font-size: 1em;
}

.shiny-tool-result.failed summary::before {
    content: "\2718";
    color: var(--bs-danger);
}

.shiny-tool-result[open] summary {
    margin-bottom: 1em;
    border-bottom: 1px solid var(--bs-border-color);
}

.shiny-tool-result summary::marker,
.shiny-tool-result summary::-webkit-details-marker {
    display: none;
}

.shiny-tool-result summary::after {
    display: inline-block;
    content: "\25C0";
    margin-left: 0.5em;
    font-size: 1em;
    transition: transform 0.2s;
}

.shiny-tool-result[open] summary::after {
    transform: rotate(-90deg);
}

.shiny-tool-result summary .function-name {
    font-weight: bold;
}
